
@model Agri_Energy_Connect_WebApp.Controllers.ProductViewModel;
@{
    Layout = "_LayoutEmployee";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Success</strong> @TempData["SuccessMessage"].
    </div>
}
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<h1>List of Products</h1>


<form asp-action="FilteredList" method="get">
    <div class="form-group">
        <label asp-for="SelectedCategoryId">Category</label>
        <select asp-for="SelectedCategoryId" class="form-control" asp-items="@(new SelectList(Model.Categories, "CategoryId", "CategoryName"))">
            <option value="">All Categories</option>
        </select>
    </div>

    <div>
        <label>Select Date Range</label>
    </div>

    <div class="form-group">
        <label asp-for="StartDate">Start Date</label>
        <input asp-for="StartDate" class="form-control" type="date" />
    </div>

    <div class="form-group">
        <label asp-for="EndDate">End Date</label>
        <input asp-for="EndDate" class="form-control" type="date" />
    </div>

    <button type="submit" class="btn btn-primary">Filter</button>
</form>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Production Date</th>
            <th>Category</th>
            <th>Farmer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.ProductionDate.ToShortDateString()</td>
                <td>@product.Category?.Description</td>
            </tr>
        }
    </tbody>
</table>
